nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #3477BA;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  padding: 5px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #fff;
  color: #3cc9db;
  transition: all 0.3s ease;
}

nav img {
  max-width: 200px;
  height: auto;
}

nav .profile-icon {
  margin-left: auto;
}

nav .profile-icon img {
  max-width: 60px;
  height: auto;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-transform: uppercase;
}

td {
  color: #444;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.profile-card {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: Arial, sans-serif;
}

.profile-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.profile-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-card p {
  font-size: 16px;
  margin-bottom: 5px;
}

.profile-card strong {
  font-weight: bold;
}

.profile-card p:last-child {
  margin-bottom: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex-basis: 33%;
  margin: 10px;
  text-align: center;
}


